@import 'tailwindcss';

@theme {
  --color-diary-bg: #f8fbff;
  --color-diary-blue: #3b82f6;
  --color-diary-text: #000000;
  --font-sans: 'Gaegu', sans-serif;
}

@font-face {
  font-family: 'Gaegu';
  src: url('/Gaegu-Regular.ttf');
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  @apply bg-diary-bg;
  display: flex;
  justify-content: center;
}

#root {
  width: 100%;
  max-width: 480px;
  min-height: 100vh;
  @apply bg-white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  position: relative;
  display: flex;
  flex-direction: column;
}

body * {
  font-family: var(--font-sans);
  color: var(--color-diary-text);
}
